*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    
}

.logo, .nav_items, .button{
    margin: 1em .5em;
}
.logo{
    text-transform: uppercase;
    
}
.nav_items{
    list-style: none;

}
.nav_container{
    display:flex;
    flex-direction: row;
    /* margin: 1em auto; */
    justify-content: center;
    /* border: 2px solid; */
    
}
nav{
    display: flex;
    justify-content: space-between;
    margin: .5em;
    /* padding: 1em 10em; */
}
.button{
    /* display: inline-block; */
   
    width:1.75em;
    height:1.75em;
    /* background: linear-gradient(120deg, blue, purple); */
    display: none;
    opacity: .75;
    
}
.one, .three{
    background-color: purple;
    height: .2em;
}
.two, .four{
    /* height:25%; */
    background-color: rgb(27, 65, 65);
    height: .2em;

}



.visible{
    display:block;
}

@media (max-width: 800px) {
    body{
        background-color: blueviolet;
    }
    .nav_container{
     
        flex-direction: column;
        /* position: absolute; */
       display: none;
       
     
    }
    nav{
        flex-direction: column;
    }
    .button{
       transition: all .5s;
        position: absolute;
        display:inline;
        right:0;        
    }
.logo{
    text-align: center;
    
}
.nav_items:hover{
    background-color: purple ;
    
}
.nav_items{
    margin:0;
    padding:1em ;
    /* text-align: center; */
}

}